{% extends "base.html" %}

{% block content %}
<style>
    body {
      background-image: url("static/img/4.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      animation: move-bg 5s ease-in-out infinite alternate;
    }

    @keyframes move-bg {
      0% { background-position: center -30px; }
      100% { background-position: center -120px; }
    }
    .btn-custom {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        display: block;
        width: 90%;
        margin: 10px auto;
        padding: 20px;
        font-size: 25px;
        border-radius: 40px;
        margin-bottom: 15px;
    }
    .btn-custom-login {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        display: block;
        width: 80%;
        margin: 10px auto;
        padding: 20px;
        font-size: 25px;
        border-radius: 40px;
        margin-bottom: 15px;
    }
    .btn-custom3 {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        display: block;
        width: 70%;
        margin: 10px auto;
        padding: 15px 30px;
        font-size: 20px;
        border-radius: 40px;
        margin-bottom: 0px;
    }
    .container0 {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .container1 {
        width: 35%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 50%;
    }
    .btn-orange {
        background-color: #FF8307;
        color: white;
        border-color: #FF8307;
    }
    .btn-orange:hover {
        background-color: #FF8307;
    }
    .btn-green {
        background-color: #6EE16E;
        color: white;
        border-color: #6EE16E;
    }
    .btn-green:hover {
        background-color: #6EE16E;
    }
</style>

{% if current_user.is_authenticated %}
    {% if current_user.type == "investor" %}
        <br>
        <h1 align="center" style="color: white;"> Стартапы</h1>
    {% else %}
        <br>
        <h1 align="center" style="color: white;">Найдите себе подходящего инвестора</h1>
    {% endif %}
{% else %}
    <div class="container0 d-flex flex-column justify-content-center align-items-center" >
        <p>
            <a href="/">
                <img class="img-fluid" src="static/img/logo_main_web1.png" alt="Логотип Find-Investor" width="100%">
            </a>
            <a class="btn btn-primary btn-custom btn-orange" href="/register-business">Стать предпринимателем</a>
            <a class="btn btn-primary btn-custom btn-orange" href="/register-invest">Стать инвестором</a>
            <a class="btn btn-success btn-custom-login btn-green" href="/login">Войти</a>
        </p>
    </div>
{% endif %}

<!--    {% for job in jobs %}-->
<!--        <h3> Action # {{job.id}}</h3>-->
<!--        <table class="table">-->
<!--            <tr class="table-active">-->
<!--                <td  width="600px"> Title of activity </td>-->
<!--                <td  width="200px"> Team leader</td>-->
<!--                <td  width="100px"> Duration </td>-->
<!--                <td  width="300px"> List of collaborators</td>-->
<!--                <td  width="300px"> Is finished</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td  class="table-info"> {{job.job}} </td>-->
<!--                <td  class="table-info"> {{job.user.name}} {{job.user.surname}}</td>-->
<!--                <td  class="table-info"> {{job.work_size}} </td>-->
<!--                <td  class="table-info"> {{job.collaborators}}</td>-->
<!--                {% if job.is_finished %}-->
<!--                <td  class="table-info"> Finished</td>-->
<!--                {% else %}-->
<!--                <td  class="table-danger"> Is not finished</td>-->
<!--                {% endif %}-->
<!--            </tr>-->
<!--        </table>-->
<!--    {% endfor %}-->
{% endblock %}