{% extends "base.html" %}

{% block content %}
<style>
body {
{% if current_user.is_authenticated %}
  background-image: url("static/img/4.jpg");
{% else %}
  background-image: url("static/img/7.jpg");
{% endif %}
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: move-bg 5s ease-in-out infinite alternate;
}

@keyframes move-bg {
  0% { background-position: center -30px; }
  100% { background-position: center -120px; }
}
.btn-custom {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 26px;
    font-size: 27px;
    border-radius: 40px;
    margin-bottom: 30px;
}
.btn-open {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: block;
    width: 90%;
    margin-left: 0;
    padding: 20px;
    font-size: 25px;
    border-radius: 40px;
    margin-bottom: 0;
}
.btn-custom-login {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    font-size: 25px;
    border-radius: 40px;
    margin-bottom: 15px;
}
.btn-custom3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: block;
    width: 70%;
    margin: 10px auto;
    margin-right: 5px;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 40px;
    margin-bottom: 0px;
}
.container0 {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
.container1 {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    margin-left: 50%;
}
.btn-orange {
    background-color: #FF8307;
    color: white;
    border-color: #FF8307;
}
.btn-orange:hover {
    background-color: #FF8307;
}
.btn-green {
    background-color: #6EE16E;
    color: white;
    border-color: #6EE16E;
}
.btn-green:hover {
    background-color: #6EE16E;
}
.registration-block {
    background-color: white;
    padding: 10px;
    border-radius: 70px;
    width: 38%;
    margin: 0 auto;
}
.registration-block img {
    display: block;
    margin: 0 auto 15px auto;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}
.container-of-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-content {
    background-color: white;
    padding: 40px;
    border-radius: 30px;
    margin-bottom: 30px;
    width: 60%;
}
.left-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.top-block {
    background-color: white;
    padding: 20px;
    border-radius: 70px;
    text-align: center;
    margin-bottom: 20px;
}

.square-blocks-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.square-block {
    background-color: white;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
}

.projects-container {
    width: 100%;
    margin-top: 0;
}
.projects-section {
    width: 100%;
    margin-top: 0;
    min-height: 100vh;
}
.projects-block {
    overflow: hidden;
    align-items: stretch;
    position: relative;
    background-color: white;
    padding: 50px;
    text-align: left;
    border-radius: 40px;
    margin-bottom: 33px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-content {
    padding: 10px;
    margin-right: 0;
    float: left;
    grid-column: 1;
}

.project-preview-image {
    top: -70px;
    position: absolute;
    float: right;
    grid-column: 2;
}
.projects-block img {
    width: auto;
    height: auto;
    display: block;
    object-fit: cover;

}
.on-top-block {
    text-align: center;
    align-items: center;
    color: black;
    background-color: white;
    padding: 0px;
    border-radius: 130px;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
    height: 100px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: 50px;
}

.on-top-block h1{
    margin-top: 25px;
}

.name-and-filters{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
}
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
  .dropdown-arrow {
    display: inline-block;
    margin: 5px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid black;
  }
        .progress-bar {
        width: 90%;
        background-color: lightgrey;
        border-radius: 35px;
        overflow: hidden;
    }
        .progress {
        height: 35px;
        background-color: orange;
    }
</style>

{% if current_user.is_authenticated %}
    {% if current_user.type == "investor" %}

        <div class="projects-section">
            <div class="name-and-filters">
                <div class="on-top-block" style="width: 75%">
                    <h1 style="color: black; font-size: 36px;">Каталог проектов</h1>
                </div>
                    <div class="on-top-block"  style="width: 35%">
                        <div class="dropdown">
                            <h1 style="color: black; font-size: 33px; ">Фильтр <span class="dropdown-arrow"></span></h1>
                            <h1 style="color: black; font-size: 16px; margin-top: -10px; ">{{filter_name}}</h1>

                          <div class="dropdown-content" style="width: 105%; border-radius: 15px;">
                                <a href="/">Все</a>
                                <a href="/?fresh=true">Новые (< 5 дней)</a>
                                <a href="/?progress_max=70">Собрано < 70%</a>
                                <a href="/?progress_max=40">Собрано < 40%</a>
                                <a href="/?progress_max=20">Собрано < 20%</a>
                                <a href="/?max_size=10">Размер компании: до 10 человек</a>
                          </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="projects-container">
                {% for job in jobs %}
                    <div class="projects-block">
                        <div class="project-content">
                            <h1>{{job['project_name']}}</h1>
                            <p>{{job['info'][:200]}}...</p>
                            <h5 style="margin-bottom: 25px;">Опубликовано: {{ job['date'] }}</h5>
<!--                            strftime('%Y-%m-%d %H:%M')-->
                             <div class="progress-bar">
                                <div class="progress" style="width: {{ job.invested_money / job.needed_money * 100 }}%;"></div>
                            </div>
                            <p style="font-size: 15px; margin: auto; margin-top: 4px; margin-bottom: 20px;">Собрано: {{ job.invested_money }} / {{ job.needed_money }}₽ ({{ '%.0f'|format((job.invested_money / job.needed_money) * 100) }}%)</p>

                            <a class="btn btn-primary btn-open" href="{{ url_for('open_project', project_id=job.id) }}">Открыть</a>
                        </div>
                        <div class="project-preview-image">
                            <img src="{{ url_for('get_project_picture_route', project_id=job.id) }}" alt="Project Image">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% else %}
        <div class="projects-section">
            <div class="name-and-filters">
                <div class="on-top-block" style="width: 75%">
                    <h1 style="color: black; font-size: 36px;">Ваши проекты</h1>
                </div>
                    <div class="on-top-block"  style="width: 35%">
                        <div class="dropdown">
                            <h1 style="color: black; font-size: 33px; ">Фильтр <span class="dropdown-arrow"></span></h1>
                            <h1 style="color: black; font-size: 16px; margin-top: -10px;">{{filter_name}}</h1>

                          <div class="dropdown-content" style="width: 105%; border-radius: 15px;">
                                <a href="/">Все</a>
                                <a href="/?progress_max=70">Собрано < 70%</a>
                                <a href="/?progress_max=40">Собрано < 40%</a>
                                <a href="/?progress_max=20">Собрано < 20%</a>
                          </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="projects-container">
                {% for job in your_projects %}
                    <div class="projects-block">
                        <div class="project-content">
                            <h1>{{job.project_name}}</h1>
                            <p>{{job.info[:200]}}...</p>
                            <h5 style="margin-bottom: 25px;">Опубликовано: {{ job.date.strftime('%Y-%m-%d %H:%M') }}</h5>
                             <div class="progress-bar">
                                <div class="progress" style="width: {{ job.invested_money / job.needed_money * 100 }}%;"></div>
                            </div>
                            <p style="font-size: 15px; margin: auto; margin-top: 4px; margin-bottom: 20px;">Собрано: {{ job.invested_money }} / {{ job.needed_money }}₽ ({{ '%.0f'|format((job.invested_money / job.needed_money) * 100) }}%)</p>

                            <a class="btn btn-primary btn-open" href="{{ url_for('open_project', project_id=job.id) }}">Открыть</a>
                        </div>
                        <div class="project-preview-image">
                            <img src="{{ url_for('get_project_picture_route', project_id=job.id) }}" alt="Project Image">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% else %}

<div class="container">
    <div class="left-content-wrapper">
        <div class="top-block"><h2>Почему именно мы?</h2></div>
        <div class="square-blocks-container">
            <div class="square-block">
                <h2>Много опыта</h2>
                <p>Почти месяц на мировом рынке</p>
            </div>
            <div class="square-block">
                <h2>Нам доверяют</h2>
                <p>Больше 0 трлн ₽ инвестировано</p>
            </div>
            <div class="square-block">
                 <h2>Нет конкурентов</h2>
                <p>Нет конкурентов</p>
            </div>
            <div class="square-block">
                                <h2>Надёжно</h2>
                <p>Очень</p>
            </div>
        </div>
    </div>

    <div class="registration-block">
        <a href="/">
            <img class="img-fluid" src="static/img/logo_main_web1.png" alt="Логотип Find-Investor" width="100%" style="margin-bottom: 30px;">
        </a>
        <a class="btn btn-primary btn-custom btn-orange" href="/register-business">Стать предпринимателем</a>
        <a class="btn btn-primary btn-custom btn-orange" href="/register-invest">Стать инвестором</a>
        <a class="btn btn-success btn-custom-login btn-green" href="/login">Войти</a>
    </div>
</div>
{% endif %}
{% endblock %}