{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h1>Регистрация</h1>
</div>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password_again.label }}<br>
        {{ form.password_again(class="form-control", type="password") }}<br>
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>
        {{ form.age.label }}<br>
        {{ form.age(class="form-control") }}<br>
        {% for error in form.age.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.private_or_fund.label }}<br><br>
        {% for choice in form.private_or_fund.choices %}
            <input type="radio" name="{{ form.private_or_fund.name }}" value="{{ choice[0] }}" id="{{ choice[0] }}">
            <label for="{{ choice[0] }}">{{ choice[1] }}</label><br>
        {% endfor %}
        {% for error in form.private_or_fund.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <br>
    <p>
        {{ form.qualification.label }}<br><br>
        {% for choice in form.qualification.choices %}
            <input type="radio" name="{{ form.qualification.name }}" value="{{ choice[0] }}" id="{{ choice[0] }}">
            <label for="{{ choice[0] }}">{{ choice[1] }}</label><br>
        {% endfor %}
        {% for error in form.qualification.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.speciality.label }}<br>
        {{ form.speciality(class="form-control") }}<br>
        {% for error in form.speciality.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.personal.label }}<br>
        {{ form.personal(class="form-control") }}<br>
        {% for error in form.personal.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.capital.label }}<br>
        {{ form.capital(class="form-control") }}<br>
        {% for error in form.capital.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.address.label }}<br>
        {{ form.address(class="form-control") }}<br>
        {% for error in form.address.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}