{% extends "base.html" %}

{% block content %}
<style>
    body {
      background-image: url("static/img/7.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      animation: move-bg 5s ease-in-out infinite alternate;
    }

    @keyframes move-bg {
      0% { background-position: center -30px; }
      100% { background-position: center -120px; }
    }
    .page-link {
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
    }

    .page-link.active {
        opacity: 1;
    }
    .btn-custom {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        display: block;
        width: 30%;
        margin: 10px auto;
        padding: 20px;
        font-size: 25px;
        border-radius: 40px;
        margin-bottom: 15px;
    }
    .btn-orange {
        background-color: #FF8307;
        color: white;
        border-color: #FF8307;
    }
    .btn-orange:hover {
        background-color: #FF8307;
    }
    label {
        font-weight: bold;
        font-size: 18px;
    }
    .registration-block {
        background-color: white;
        padding: 60px;
        border-top-left-radius: 130px;
        border-top-right-radius: 130px;
        width: 90%;
        margin: 0 auto;
        height: auto;
    }
    .registration-block img {
        display: block;
        margin: 0 auto 15px auto;
    }
    h1{
        font-size: 45px;
    }

</style>
<br><br>
<div class="registration-block">
    <div class="text-center">
        <h1>- Регистрация инвестора -</h1>
        <br>
    </div>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password_again.label }}<br>
        {{ form.password_again(class="form-control", type="password") }}<br>
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.image.label }}<br>
        {{ form.image(type="file", accept="image/*") }}<br>
        {% for error in form.image.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <br>
    <p>
        {{ form.private_or_fund.label }}<br><br>
        {% for choice in form.private_or_fund.choices %}
            <input type="radio" name="{{ form.private_or_fund.name }}" value="{{ choice[0] }}" id="{{ choice[0] }}">
            <label for="{{ choice[0] }}">{{ choice[1] }}</label><br>
        {% endfor %}
        {% for error in form.private_or_fund.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <br>
    <p>
        {{ form.personal.label }}<br>
        {{ form.personal(class="form-control") }}<br>
        {% for error in form.personal.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.capital.label }}<br>
        {{ form.capital(class="form-control") }}<br>
        {% for error in form.capital.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary btn-custom btn-orange") }}</p>
    {{message}}
</form>
</div>
{% endblock %}